.toast {
  top: 1rem;
  left: 50%;
  position: fixed;

  padding: 1rem 2rem;

  opacity: 0;
  border-radius: 4px;
  box-shadow: 2px 3px 4px #00000029;
  transform: translateX(-50%);
  transition:
    transform 0.5s ease,
    opacity 0.5s ease;
}

.message {
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
}

.toast.hidden {
  opacity: 0;
  transform: translateY(-100%);
}

.toast.visible {
  opacity: 1;
  transform: translateY(0);
}

.success {
  background-color: rgb(35, 148, 224);
}

.danger {
  background-color: #f73920;
}

.warning {
  background-color: #f7a714;
}

.lightenText {
  font-weight: 400;
  opacity: 0.9;
}
