.form-container {
  flex-grow: 1;

  gap: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;

  margin: auto;
  padding: 1.5rem;
  max-width: 40rem;

  z-index: 10;
}

.welcome-title {
  display: flex;
  align-items: center;

  color: #4d4f5c;
  font-family: var(--font-gibson-semibold);

  height: 40px;
  padding-left: 1.75rem;
  margin-bottom: 0.5rem;

  border-left: solid 8px var(--unnamed-color-ff6752);
}

.form {
  gap: 2rem;
  display: flex;
  flex-direction: column;
}

.input-container {
  gap: 1rem;
  display: flex;
  flex-direction: column;
}

.forgot-password {
  color: #a4afb7;
  font-size: 0.9rem;
  text-align: right;
  text-decoration: none;
}

.register-text {
  color: #a4afb7;
  font-size: 0.9rem;
  text-align: center;
}

.register-link {
  color: #015f91;
  text-decoration: none;

  cursor: pointer;
}
