.aside {
  display: none;
}

@media (min-aspect-ratio: 5/4) {
  .aside {
    display: block;

    position: relative;

    width: 70vh;
  }

  .bg-login {
    width: auto !important;
    height: 100vh !important;
  }

  .logo {
    max-width: 25vh;
    max-height: 25vh;
  }

  .logo-container {
    position: absolute;
    top: 50%;
    left: 15vh;

    display: flex;
    align-items: center;
    justify-content: center;

    padding: 6vh;

    border-radius: 50%;
    background-color: #fff;
    transform: translateY(-50%);
  }
}
