@import "./variants.css";

* {
  color: var(--unnamed-color-808080);
  font-family: var(--font-open-sans-regular);

  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
}

h1 {
  font-family: var(--font-museo-sans-regular);
}

h2 {
  font-family: var(--font-confortaa-bold);
}

h3 {
  font-family: var(--font-segoe-ui-bold);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
label {
  cursor: default;
}
