@import "./variants.css";

* {
  color: var(--unnamed-color-808080);
  font-family: var(--font-open-sans-regular);

  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-family: var(--font-museo-sans-regular);
}

h2 {
  font-family: var(--font-confortaa-bold);
}

h3 {
  font-family: var(--font-segoe-ui-bold);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
label {
  cursor: default;
}

button {
  color: #fff;
  font-size: 1rem;
  font-family: var(--font-open-sans-bold);

  margin: auto;
  padding: 24px 43px;
  max-width: max-content;

  border: none;
  cursor: pointer;
  border-radius: 38px;
  box-shadow: 0px 3px 6px #2c1dad29;
  background-color: var(--unnamed-color-4487ff);
}

button:hover {
  background-color: #4486ffd8;
}
