.footer {
  margin-top: auto;
  width: 100vw;
  background: url("/backgrounds/bg-footer.svg");
  background-size: 100vw auto;
  background-repeat: no-repeat;
  background-position: top center;
}

.footer-container {
  gap: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  padding: 1rem;
  margin-top: 4rem;
  padding-bottom: 2rem;

  background-color: var(--unnamed-color-ff6752);
}

.element-container {
  gap: 1rem;
  display: flex;
  flex-flow: column wrap;
  max-width: 15rem;
}

.list {
  gap: 1rem;
  display: flex;
  flex-direction: column;

  list-style: none;

  margin-top: auto;
}

.title {
  color: var(--unnamed-color-ffe530);
}

.text {
  color: #fff;
  font-size: 1rem;
  text-decoration: none;

  border: none;
  cursor: pointer;
  background: none;
}

@media (min-width: 950px) {
  .footer-container {
    padding: 1rem 10%;

    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
  }
}
