.card {
  gap: 1.5rem;

  padding: max(2vw, 1rem);

  border-radius: 20px;
  background-size: cover;
  box-shadow: 0px 3px 6px #00000029;
}

.card.large {
  gap: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;

  background: url("/backgrounds/bg-card-blue.svg");
}

.card.large > .image {
  display: none;
}

.card.large > .title {
  grid-area: title;

  font-size: max(2vw, 1.5rem);
  color: var(--unnamed-color-ffe530);
}

.card.large > .body {
  grid-area: body;
  color: #fff;
  font-size: max(1.25vw, 1rem);
}

.card.medium {
  display: flex;
  align-items: center;
  flex-flow: column wrap;
  justify-content: center;

  width: 100%;
  max-width: 35rem;
}

.card.medium.blue {
  background: url("/backgrounds/bg-carousel-card-blue.svg");
}

.card.medium.orange {
  background: url("/backgrounds/bg-carousel-card-orange.svg");
}

.card.medium > .image {
  border-radius: 50%;
}

.card.medium > .title {
  font-family: var(--font-confortaa-regular);
  color: #fff;
}

.card.medium > .body {
  color: #fff;
  text-align: center;
  text-overflow: ellipsis;

  max-height: 6rem;
  overflow: hidden;
}

.card.small {
  gap: 1rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;

  width: 15vw;
  height: 15vw;
  min-width: 10rem;
  min-height: 10rem;
  max-width: 15rem;
  max-height: 15rem;
  padding: max(2vw, 1rem);

  border-radius: 20px;
  background-color: #fff;
  box-shadow: 0px 3px 6px #00000029;
}

.card.small > .body {
  font-family: var(--font-confortaa-regular);
}

@media (min-width: 950px) {
  .card.large {
    gap: 2.5rem;
    display: grid;
    grid-template-areas:
      "image title"
      "image body"
      "image button";
  }

  .card.large > .image {
    grid-area: image;

    align-self: center;
    justify-self: center;
    display: inline-block;

    width: 12vw !important;
    height: auto !important;
  }

  .card.medium {
    width: 40vw;
  }
}
